body {
  background-color: lightblue;
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#paragraph2{
    background-color: white;
    width: 750px;
    border: 7px solid rgb(21, 109, 7);
    padding: 25px;
    margin: 15px;
    line-height: 1.7;
}

.blue{
    background-color: rgb(10, 10, 121);
    width: 1630px;
    padding: 15px 30px;
    margin: 10px 0px;
    color:white
}
.red-link{
    color:red;
}

table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
th{
    background-color: lightgrey;
}
td{
    background-color: white;

}

ol {
    list-style-type: none;      /* Removes default numbers */
    counter-reset: list-count;  /* Starts a new counter */
    padding-left: 10px;
}


ol li {
    counter-increment: list-count; /* Counts up 1, 2, 3... */
    margin-bottom: 5px;
}


ol li::before {
    content: "0" counter(list-count) ". "; 
    color: black;
    font-family: Arial;
    font-size: 15px;
}


ol li a {
    color: blue;
    text-decoration: underline;
}

section p a {
    color: red;                /* Change to 'blue' to match the screenshot */
    text-decoration: underline; /* Ensures the line is under the text */
    font-family: serif;        /* Matches the "Lorem Ipsum" font style */
}